<% layout("./layouts/boilerplate") %>
<div class="row">
	<div class="middle col-md-9 mb-3">
		<h1 class="text-center text-light text-shadow mb-3">
			<%= lang %> Songs
		</h1>
		<ul class="list-group">
			<% for(let i = 0; i < songs.length; i++) { %>
			<li class="list-group-item song-list bg-dark mb-2">
				<div
					class="row py-2 oneAudio"
					onclick="togglePlay(document.getElementById('music<%= (i + 1) %>'));"
				>
					<div class="col-2 text-center">#<%= (i + 1) %></div>
					<div class="col-4 text-center"><%= songs[i].title %></div>
					<div class="col-4 text-center">
						<%= songs[i].artist.name %>
					</div>
					<div class="col-2 text-center">
						<audio
							data-src="<%= songs[i].file %>"
							id="music<%= (i + 1) %>"
							preload="metadata"
						></audio>
						<span
							style="font-size: 17px"
							class="material-icons-round"
						></span>
					</div>
				</div>
			</li>
			<% } %>
		</ul>
	</div>
	<div class="col-md-3 text-light d-none d-md-block d-lg-block">
		<div
			id="player-card"
			class="card st-elem sticky-top bg-dark border border-danger mb-3 text-center"
		>
			<img
				id="player-image"
				style="height: 60vh; width: 100%; object-fit: cover"
				src="https://res.cloudinary.com/fedupnow/image/upload/v1625727254/MysticBeats/509f9a3981870975bdd89eb579633ff8_aqpprz.png"
				class="card-img-top"
				alt=""
			/>
			<div class="card-body">
				<div>
					<progress
						id="player-progress"
						max="1"
						value="0"
						hidden
					></progress>
				</div>
				<div id="player-controls" hidden>
					<span
						id="player-prev"
						class="material-icons-round"
						onclick="skipPrev(document.querySelector('.active'))"
						>skip_previous</span
					>
					<span
						id="player-play"
						onclick="togglePlay(document.querySelector('.active').children[3].children[0])"
						class="material-icons-round"
						>play_arrow</span
					>
					<span
						id="player-next"
						class="material-icons-round"
						onclick="skipNext(document.querySelector('.active'))"
						>skip_next</span
					>
				</div>
				<h5 id="player-song" class="card-title text-shadow">
					Hey There!
				</h5>
				<div id="player-artist" class="card-text text-muted">
					This card will show you the details of the current playing
					track ;)
				</div>
				<small id="player-lang" class="card-text text-muted"></small>
			</div>
		</div>
	</div>
	<script>
		const songs = <%- JSON.stringify(songs) %>
	</script>
	<script src="/javascripts/audioControl.js"></script>
</div>
